body {
  text-align: center;
  font-family: "Arial"; color: #008B8B;
  background: 	#F0FFFF;

}

h1{
  color: pink;
}

#genero{
  width: 13%;
}

.nuevo-paciente{
  margin: 10px;
  border: 1px  solid black;
  display: inline-block;
  text-align: left;
  background: white;
}
label{
  display: inline-block;
  width: 100px;
}
span{
  color: black;
  font-size: x-small;
}

button {
    background-color: white;
    color: black;
    border: 2px solid pink;
}
